body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  
        /* Ορισμός Εικόνας και Διαβάθμισης */
        background-image: url("https://grcodeclub.gr/files-page/background/main.jpg"), 
                  linear-gradient(315deg, rgb(1, 8, 48) 0%, rgb(46, 0, 38) 50%, rgb(11, 3, 88) 100%);
                  background-blend-mode: overlay; /* Δοκιμάστε άλλες επιλογές όπως multiply, screen, darken, etc. */
                  background-size: cover;
        background-position: center;

    margin: 0;
  font-family: "Arial";
  background-size: cover;
  background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
}



.wave {
    background: rgba(48, 1, 44, 0.836);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 50px;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
