.network{
  background-image: url("https://grcodeclub.github.io/file/background/server.jpg");
  margin: 0;
  font-family: "Arial";
  background-size: cover;
  background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
}

.system{
  background-image: url("https://grcodeclub.github.io/file/background/system.jpg");
  margin: 0;
  font-family: "Arial";
  background-size: cover;
  background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
}

.website{
  background-image: url("https://grcodeclub.github.io/file/background/website.jpg");
  margin: 0;
  font-family: "Arial";
  background-size: cover;
  background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
}


.programming{
  background-image: url("https://grcodeclub.github.io/file/background/coding.jpg");
  margin: 0;
  font-family: "Arial";
  background-size: cover;
  background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
}



.cybersecurity {
  bbackground-image: url(https://grcodeclub.github.io/file/background/6.jpg);
  margin: 0;
  font-family: "Arial";
  background-size: cover;
  background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
}
