
.slide-container {
    transition: transform 0.5s ease;
    border-radius: 10px;

}

.slides {
    display: flex;
}

.card {
    border-radius: 10px;
    min-height: 100%;  
    min-width: 100%; /* Κάθε κάρτα καταλαμβάνει ολόκληρο το πλάτος του slider */
    box-sizing: border-box;
    transition: transform 0.2s, box-shadow 0.2s;
}

.data-card {
   text-align: justify;
   margin-left: 5%; 
   margin-right: 5%;
}


button.slide-prev, button.slide-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 99;
}

button.slide-prev {
    left: 10px;
}

button.slide-next {
    right: 10px;
}

button.slide-prev, button.slide-next:focus {
    outline: none;
}

button.slide-prev, button.slide-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
