@media only screen and (min-width: 720px) {

    

    .show_mobile  {display: none;}
    .show_desktop   {display: block;}


    .divider {
        display: flex;
        
        &:before,
        &:after {
          content: "";
          flex: 1;
        }
      }
      
      .donotcross {
          overflow: hidden;
          align-items: center;
          background: hsla(300, 100%, 50%, 0.171);
          color: white;
          height: 2em;
            
          &:before,
          &:after {
            background-color: rgb(255, 6, 255);
            padding: 50px 0;
            height: 0;
            transform: rotate(45deg);
          }
          
        }
      
.desktop_size{
    height: 100vh;
}
        
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    nav .logo {
        font-size: 1.5em;
        font-weight: bold;
    }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    nav ul li {
        margin-left: 20px;
    }
    
    nav ul li a {
        color: #fff;
        text-decoration: none;
    }



    

    .hero {
        color: #fff;
        text-align: center;
        padding: 100px 0;
        font-size: 30px;
    }


    .hero h1 {
        font-size: 3em;
    }
    
    .hero p {
        font-size: 1.2em;
    }
    
    .box {
        padding: 50px 0;
        text-align: center;
        color: #fff;
    }
    
    .box h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }
    
    .box-container {
        display: flex;
        overflow: auto;
        max-height: 450px;
        border-radius: 20px;
        box-shadow: 0 10px 10px rgb(0, 0, 0);
        border-radius: 20px;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 60%; /* Ύψος του container να καλύπτει ολόκληρο το παράθυρο */
        margin: 30px;
        overflow-y: auto; /* Προσθήκη δυνατότητας κατακόρυφου scrolling */
    }

        .box-container-full {
        display: flex;
        overflow: auto;
        max-height: 450px;
        border-radius: 20px;
        box-shadow: 0 10px 10px rgb(0, 0, 0);
        border-radius: 20px;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 60%; /* Ύψος του container να καλύπτει ολόκληρο το παράθυρο */
        margin: 30px;
        overflow-y: auto; /* Προσθήκη δυνατότητας κατακόρυφου scrolling */
    }
    
    
    
    .service {
        
        background-color: #00000050; /* Σκούρο μωβ */
        color: #fff;
        padding: 10px;
        margin: 20px;
        text-align: center;
        border-radius: 8px;
        border-style: dashed;
        border-color: rgb(255, 249, 249);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: calc(30% - 40px);
        transition: transform 0.3s ease-in-out;
    }
    
    .service:hover {
        transform: translateY(-10px);
    }
    
    .service h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: #E2BBE9; /* Πολύ ανοιχτό μωβ */
    }
    
    .contact {
        background-color: #7776B3; /* Μεσαίο μωβ */
        padding: 50px 0;
        text-align: center;
        color: #fff;
    }
    
    .contact h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
        color: #5A639C; /* Σκούρο μωβ */
    }
    


    .logo{
        width: 30%;
    }

    .slider {
        position: relative;
        max-width: 80%;
        margin: auto;
        overflow: hidden;
        border-radius: 30px;
        box-shadow: 10px 8px 5px rgb(0, 0, 0);
        
    }

    #services{
        height: 100vh;
    }
    

}
