 .container { 
    z-index: 1000;
    display: grid;
    grid-template-rows: 100px;
    grid-row-gap: 100px; 
    grid-template-areas:
    "Header"
    "Text" ;
    min-height: 90vh;

    }  
  
  
.Header { 
    z-index: 1000;
    grid-area: Header; 
}


.Text { 
    grid-area: Text;  
    color: white;

 
}
  