@media only screen and (min-width: 720px) {
    .container {  
      height: 100%;
      display: grid;
      grid-template-rows: 80px;
      grid-template-columns: 200px;
      grid-template-areas:
        "Header Header"
        "Menu Text" ;} 
        
        
    .Text { 
          grid-area: Text;  
          color: white;
          margin-top: 10px;
          margin-bottom: 100px;
          margin-left: 35px;
          margin-right: 20px;
      }

      .Menu { 
        position: fixed;
        grid-area: Menu; 
        background-color: rgba(0, 0, 0, 0.950);
        height: 100%;
        margin-top: 90px;
    }
       

}

/* Στυλ για κινητές συσκευές */
@media only screen and (max-width: 720px) {
  .container {  
    display: grid;
    grid-template-rows: 90px 100%;
    grid-template-columns: 100%;
    grid-template-areas:
    "Header"
    "Text";}


    .Text { 
      grid-area: Text;  
      color: white;
      margin-top: 10px;
      margin-bottom: 100px;
      margin-left: 10px;
      margin-right: 20px;
  }
    
}
  
.Header { 
    position: fixed;
    width: 100%;
    grid-area: Header; 
    background-color: black;
    z-index: 100;
}
