.list {
  display: inline-block;
  list-style-type: none;  
}
.div_center{
  justify-content: center;
}
.list-container {
    justify-content: center;
  }

ul {white-space: nowrap;}
li{
  padding-top: 10px;
  margin-right: 10px;
}


@media only screen and (min-width: 720px) {
    .list-container {
      display: flex;
      justify-content: center;
    }
    .list {
      display: inline-block;
      margin-right: 20px;
      list-style-type: none;
    }
  }
