@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

span.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
   transition: background-size .7s, background-position .5s ease-in-out;
}

span.title:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  color: aliceblue;
  transition: background-position .7s, background-size .5s ease-in-out;
}


h1.title{
  text-align: center;
}

h1.footertext{
  text-align: center;
  font-size: 30;
  color: white;
}

span.footertext {
  font-family: 'Bebas Neue', cursive;
  font-size: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(white, white);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
   transition: background-size .7s, background-position .5s ease-in-out;
}

span.footertext:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  color: black;
  transition: background-position .7s, background-size .5s ease-in-out;
}


header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: black;
}

footer {
  position: fixed;
   width: 100%;
  bottom: 0;
  background-color: black;
}


ol {
	list-style: none;
	counter-reset: list;
	padding: 0 1rem;
}

li {
	counter-increment: list;
	max-width: 45rem;
	margin: 2rem auto;
	padding: 2rem 1rem 1rem;
	box-shadow: 0.1rem 0.1rem 1.5rem black;
	border-radius: 0.25rem;
	background-color: white;
}



h3 {
	display: flex;
	align-items: baseline;
	margin: 0 0 1rem;
	color: black;
}

h3::before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 1rem;
	width: 3rem;
	height: 3rem;
	content: counter(list);
	padding: 1rem;
	border-radius: 50%;
	background-color:black;
	color: white;
}







	