.section_menu{
  height: 350px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
}



a.menu_mobile{
  background-color: black;
  border-radius: 15px;
  letter-spacing: 5px;
  color: white;
  font-size: 50px;
  text-decoration: none;
}

a.menu_mobile:hover{
  background: white;
  color: black;
  box-shadow: 1px 1px 1px 1px blue;

  }

div.menu_mobile{
  border-radius: 10px;
  width: 200px;
  height: 40px;
  transition-duration: 0.2s;
  padding: 20px;

}
div.menu_mobile:nth-child(odd){
  transform: perspective(300px) rotateY(40deg);
}
div.menu_mobile:nth-child(even){
    transform: perspective(300px) rotateY(-35deg);
}
div.menu_mobile:hover{
  transform: rotateY(0);
}