.menu {
  position: relative;
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 5px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs li {
  margin-top: 10%;
}

.tabs li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  font-size: 40px;
  padding: 30px;
}

.magic-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: px;
  background-color: #000000;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.tabs li.active a {
  font-weight: bold;
  
}

.tabs li:hover .magic-line,
.tabs li.active .magic-line {
  width: 100%;
}
