@media only screen and (max-width: 720px) {
    .show_mobile { display: block; }
    .show_desktop { display: none; }

    .hero {
        color: #fff;
        text-align: center;
        font-size: 70%;
        height: 100hv;
        padding-bottom: 100px;

    }


    .hide{
        margin-left: 40%;
    }

    nav .logo {
        font-size: 1.5em;
        font-weight: bold;
    }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    nav ul li {
        margin-left: 20px;
    }
    
    nav ul li a {
        color: #fff;
        text-decoration: none;
    }


    .hero h1 {
        font-size: 3em;
    }
    
    .hero p {
        font-size: 1.2em;
    }
    
    .box {
        padding: 50px 0;
        text-align: center;
        color: #fff;
    }
    
    .box h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }
    
    .box-container {
        display: flex;
        box-shadow: 0 10px 10px rgb(0, 0, 0);
        border-radius: 20px;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 60%; /* Ύψος του container να καλύπτει ολόκληρο το παράθυρο */
        margin: 30px;
        flex-direction: column;
        align-items: center;
        overflow-y: auto; /* Προσθήκη δυνατότητας κατακόρυφου scrolling */
    }
    
    
    
    .service {
        
        background-color: #00000050; /* Σκούρο μωβ */
        color: #fff;
        padding: 20px;
        margin: 20px;
        text-align: center;
        border-radius: 8px;
        border-style: dashed;
        border-color: rgb(255, 249, 249);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 80%;
        transition: transform 0.3s ease-in-out;
    }
    
    .service:hover {
        transform: translateY(-10px);
    }
    
    .service h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: #E2BBE9; /* Πολύ ανοιχτό μωβ */
    }
    

    .contact {
        background-color: #7776B3; /* Μεσαίο μωβ */
        padding: 50px 0;
        text-align: center;
        color: #fff;
    }
    
    .contact h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
        color: #5A639C; /* Σκούρο μωβ */
    }
    
    
    .logo {
        padding-top: 10%;
        width: 70%;
    }

    .slider {
        position: relative;
        max-width: 80%;
        margin: auto;
        overflow: hidden;
        width: 100%;
        border-radius: 30px;
        box-shadow: 10px 8px 5px rgb(0, 0, 0);
    }

    #sidebarMenu {
        overflow: auto;
        position: fixed;
        left: 0;
        width: 250px;
        text-align: center;
        transform: translateX(-250px);
        transition: transform 250ms ease-in-out;
        background-color: rgb(46, 4, 42);
        margin-top: 16px;
        height: 100vh; /* Πλήρες ύψος οθόνης */
    }

    .sidebarMenuInner {
        color: white;
    }

    .main-logo {
        padding-top: 5%;
        color: #fff;
        text-align: center;
        margin-top: 7%;
    }

    .mysocial {
        white-space: nowrap;
        font-size: 13px;
        padding: 400px;
    }

    .map {
        width: 60%;
        height: 100%;
        border: 10px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgb(204, 20, 179);
    }

    .main-logo img {
        width: 400px;
    }

    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        z-index: 99;
        top: 16px;
        left: 15px;
        width: 42px;
        position: fixed;
    }

    .spinner {
        height: 3px;
        width: 100%;
        background-color: #ffffff;
    }

    .openSidebarMenu {
        margin-top: 10px;
    }

    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }

    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
    }

    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }

    input[type="checkbox"]:checked~#sidebarMenu {
        transform: translateX(0);
    }

    input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }

    input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }

    input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    }

    input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }

    /* Στυλ για το μενού */
    #sidebarMenu a {
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }

    #sidebarMenu li {
        list-style: none;
        padding-top: 20px;
        padding-bottom: 20px;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }

    #sidebarMenu span {
        display: block;
        font-size: 14px;
        color: rgb(255, 255, 255);
    }
}

