/* Reset CSS */
* {
    box-sizing: border-box;
}

header {
    color: #ffffff; /* Λευκό κείμενο */
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.5s, backdrop-filter 0.5s;
    background-color: rgba(50, 50, 50, 0.9); /* Σκούρο γκρι */
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: rgba(30, 30, 30, 0.8); /* Σκούρο γκρι */
    color: #ffffff; /* Λευκό κείμενο */
    text-align: center;
    backdrop-filter: blur(2px);
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.5);
}

/* Πρόσθετα Στυλ για Μικρότερες Οθόνες */
@media (max-width: 768px) {
    .box-container {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 80%;
    }
}

/* Στυλ CSS */
.animated-text {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    color: #e0e0e0; /* Ανοιχτό γκρι */
    font-size: 1.6rem; /* Μεγαλύτερο μέγεθος γραμματοσειράς */
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #ffffff; /* Λευκό */
    }
}

/* Existing CSS styles */
.animate-on-load {
    opacity: 0;
    transform: translateY(20px) rotate(-180deg);
    animation: rotate-in 1s ease-out forwards, slide-up 1s ease-out forwards;
}

@keyframes rotate-in {
    from {
        opacity: 0;
        transform: translateY(20px) rotate(-180deg);
    }
    to {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}

