
            .sidebar {
                position: relative; /* Αλλαγή σε relative για κινητά */
                margin-left: 0; /* Μη προσθέσετε περιθώριο */
                width: 100%; /* Πλήρες πλάτος */
                top: 56px; /* Διατηρήστε την απόσταση κάτω από το navbar */
            }
    
            .navsubmenu{
                display: flex; /* Χρησιμοποιούμε flexbox για οριζόντια διάταξη */
                white-space: nowrap; /* Αποτρέπουμε το σπάσιμο των λέξεων */
                overflow-y:hidden;

            }
            .flex-column{display: flex;} /* Χρησιμοποιούμε flexbox για οριζόντια διάταξη */

            .sidebar-nav .nav-item {
                flex: 1; /* Κάντε τα στοιχεία του nav να έχουν ίσο πλάτος */
                text-align: center; /* Κεντράρετε το κείμενο */
            }
        
