
table {
    margin-left:auto; 
    margin-right:auto;
}

/* Menu */
th.style_menu {
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
  
}

/* Style 2 */
table.style2 {
  background-color: white;
  border-spacing: 10px;
}

.noBorder{
  text-align: left;
  background-color: white;
  border:none;
  
}

tr.style2:hover {
  background-color: rgb(6, 6, 75); 
  color: white;
  font-size: 20px;
  
}
