a.link_menu {
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    min-width: 80px;
    margin: auto;
  }
a.link_menu:hover{
    background-color: rgb(255, 255, 255);
    background-size: 100% 100%;
    color: black;
  }

h2.title{
    text-align: center;
    background-color: white;
  }

section.tmp{
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
}