body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://grcodeclub.github.io/file/background/6.jpg");
  height: 100vh;
}


img.logo{
  width:100px;
  height:110px;
}


a.menu:hover{
  background-color: blue;
  border-width: 10px;
}

img.social{
  width: 100px;
}
