.appearance{
    display:grid;
    height:24px;
    align-items:center;
    grid-template-columns:45px 1fr 45px;
   
}


.space{display:flex;gap:6px}

.buttons1{
    width:12px;
    height:12px;
    border-radius:6px;
    background-color:rgb(82, 3, 3)
}

.buttons2{
    width:12px;
    height:12px;
    border-radius:6px;
    background-color:rgb(8, 3, 82)
}


.buttons3{
    width:12px;
    height:12px;
    border-radius:6px;
    background-color:rgb(82, 74, 3)
}
.name_input{
    height:16px;color:var(--frame-title-placeholder-color);
    font-family:Inter,sans-serif;
    font-size:12px;
    font-weight:500;
    letter-spacing:.32px;
    line-height:12px;
    text-align:center
}

