@media only screen and (min-width: 720px) {
    .container {  
      height: 100%;
      display: grid;
      grid-template-rows: 80px;
      grid-template-columns: 150px;
      grid-template-areas:
        "Header Header"
        "Menu Text" ;

    }    
    }

/* Στυλ για κινητές συσκευές */
@media only screen and (max-width: 720px) {
  .container {  
    display: grid;
    grid-template-rows: 90px 100%;
    grid-template-columns: 100%;
    grid-template-areas:
    "Header"
    "Text" ;
    }  
  }
  
.Header { 
    position: fixed;
    width: 100%;
    grid-area: Header; 
    background-color: rgba(0, 0, 0, 0.900);
}
  
.Menu { 
    position: fixed;
    grid-area: Menu; 
    background-color: rgba(0, 0, 0, 0.900);
    height: 100%;
    margin-top: 90px;
}
  
.Text { 
    grid-area: Text;  
    color: white;
}
  