.container {  
    display: grid;
    grid-template-areas:
    "Header"
    "Text" ;
    }  
    .Header { 
        width: 100%;
        grid-area: Header; 
        background-color: rgba(0, 0, 0, 0.900);
    }  
  
.Text { 
        grid-area: Text;  
        color: white;
        margin-top: 10px;
        margin-bottom: 100px;
        margin-left: 10px;
        margin-right: 20px;
    }
      