body {
  margin: 0;
  background-size: cover;
}


@media only screen and (min-width: 720px) {
  .show_mobile  {
    display: none;
  }
  .show_desktop   {
    display: block;
  }
}

/* Στυλ για κινητές συσκευές */
@media only screen and (max-width: 720px) {
  .show_mobile {
    display: block;
  }
  .show_desktop   {
    display: none;}
}



img.logo{
  width:100px;
  height:110px;
}

img.logo_2{
  height: 50px;
  width: 50px;
}


