
@media (min-width: 720px) {
  .tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 720px) {
  .tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
a:hover{
  background-color: blue;
  border-radius: 10px;
}


.tabs li {
  margin-top: 10%;
}

.tabs li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 40px;
  margin-left:20px;
}


