
table {
    margin-left:auto; 
    margin-right:auto;
}

/* Menu */
td.style_menu {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
  
}

td.style_menu_here {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}

/* Style 2 */
table.style2 {
  border-spacing: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.548);
  border-radius: 10px;
}

.noBorder{
  text-align: left;
  background-color: white;
  border:none;
  
}
tr.style2{
  text-align: justify;
}
tr.style2:hover {
  background-color: rgb(17, 51, 146);
  color: white;
  font-size: 20px;
  
}

caption{
  background-color: blue;
  color: white;
  font-size: 35px;
}
