
table {
    margin-left:auto; 
    margin-right:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Style 2 */
table.zoom {
  border-spacing: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.418);
  font-size: 18px;

}

.noBorder{
  text-align: left;
  background-color: white;
  border:none;
  
}

caption{
  background-color: blue;
  color: white;
  font-size: 35px;
}

tr.color_1:hover {
  background-color: rgba(204, 10, 58, 0.491);
  color: white;
  font-size: 20px;
  
}

