#code,#code1{
    width: 100%;
    background-color: rgb(211, 208, 208);
    border-radius: 5px;
    padding: 5px;
    border-color: rgb(211, 208, 208);
}

.appearance{
  display:grid;
  height:36px;
  align-items:center;
  grid-template-columns:75px 1fr 45px;
}

.bg_preview{
  border-radius: 10px; 
  background-color: rgb(33, 37, 41);
  margin: 1%;
  padding-bottom: 2px;
   max-width: 100vw; /* Μέγιστο πλάτος ίσο με το πλάτος της οθόνης */
   overflow-x: auto; /* Χρήση οριζόντιου scroll όταν είναι απαραίτητο */
}


.terminal{
  background-color: #05050d;       /* Σκούρο φόντο */
  color: #f8f8f2;                  /* Απαλό λευκό κείμενο */
  border-radius: 0.5rem;           /* Στρογγυλεμένες γωνίες */
  font-family: 'Fira Code', monospace; /* Monospace font */
  font-size: 0.95rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  overflow-x: auto;
  position: relative;
  margin-bottom: 1.5rem;
}


.command-line .code_editor::-webkit-scrollbar-track {
box-shadow: inset 0 0 10px rgba(255, 255, 255, 0); 
border-radius: 5px;}
.code_editor::-webkit-scrollbar-thumb:hover {
background: rgb(0, 0, 0);}
.code_editor::-webkit-scrollbar-thumb {
background: rgba(255, 255, 245, 0.13);
} 

.space{
  margin-left: 10px;
  display:flex;
  gap:10px}


.name_input{
  height:16px;color:var(--frame-title-placeholder-color);
  font-family:Inter,sans-serif;
  font-size:12px;
  font-weight:500;
  letter-spacing:.32px;
  line-height:12px;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
}
